<!-- ============================================ -->
<!--                Featured Posts                -->
<!-- ============================================ -->

<div class="blog-sidebar">
  <!--Featured-->
  <div class="blog-featured-group slide-in-right">
    <span class="blog-header">Weitere Artikel</span>
    {%- for post in collections.featuredPosts | reverse -%} {%- if post.url !=
    page.url -%}
    <a class="blog-feature" href="{{ post.url }}">
      <picture class="blog-featureImage">
        <img
          src="{{ post.mainImage.asset | urlForWidth(400) }}"
          alt="{{ post.mainImage.alt }}"
          width="60"
          height="60"
          decoding="async"
          loading="lazy" />
      </picture>
      <div class="content-group">
        <h3 class="feature-h3">{{ post.title }}</h3>
        <span class="feature-date">{{ post.releaseDate | formatDate }}</span>
      </div>
    </a>
    {%- endif -%} {%- endfor -%}
  </div>
  <!--Add anything else in the sidebar below-->
  <div class="back-button">
    <a href="/Blog" class="blog-link2">zurück zum Blog</a>
  </div>
  <script defer src="/assets/js/featuredPost.js"></script>
</div>
