<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<!--NOTE: Make sure the section above this footer has the same background color as the footer for a seamless trasition between them-->

<footer id="cs-footer-1763">
  <!--Contact Info-->
  <div class="cs-card-group">
    <div class="cs-card">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-footer-location-pin.svg"
          alt="location"
          loading="lazy"
          decoding="async"
          height="32"
          width="32" />
      </picture>
      <div class="cs-flex">
        <h3 class="cs-h3">Standort</h3>
        <span class="cs-card-info">Zur Gesundheit 23, 79863 Fit-Town</span>
      </div>
    </div>
    <div class="cs-card">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-footer-clock.svg"
          alt="clock"
          loading="lazy"
          decoding="async"
          height="32"
          width="32" />
      </picture>
      <div class="cs-flex">
        <h3 class="cs-h3">Öffnungszeiten</h3>
        <span class="cs-card-info">Montag – Freitag: 08:00 – 19:00 Uhr </span>
        <span class="cs-card-info">
          Samstag: 09:00 – 13:00 Uhr <br />Sonntag: Geschlossen</span
        >
      </div>
    </div>
    <div class="cs-card">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-footer-call.svg"
          alt="phone"
          loading="lazy"
          decoding="async"
          height="32"
          width="32" />
      </picture>
      <div class="cs-flex">
        <h3 class="cs-h3">Kontakt</h3>
        <a href="" class="cs-card-info">Telefon: +49 123 456 789 </a>
        <a href="" class="cs-card-info">E-Mail: info@therafit.de</a>
      </div>
    </div>
  </div>
  <div class="cs-container">
    <!-- Logo Group -->
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo footer-logo" href="/">
        <img
          class="cs-logo-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          srcset="/assets/svgs/Therafit-Logo.svg"
          alt="logo"
          width="240"
          height="32" />
      </a>
      <p class="cs-text">
        Willkommen bei TheraFit Physiotherapie! Unser Ziel ist es, Ihre
        Gesundheit und Lebensqualität durch individuelle Betreuung und moderne
        Therapieansätze zu fördern. Lassen Sie uns gemeinsam an Ihrer Zukunft
        arbeiten.
      </p>
    </div>
    <!-- Links -->
    <div class="cs-ul-wrapper">
      <span class="cs-header">Services</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="/Leistungen">Manuelle Therapie</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/Leistungen">Sportphysiotherapie</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/Leistungen">Neurologische Physiotherapie</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="/Leistungen">Rehabilitation</a>
        </li>
       <li class="cs-li">
          <a class="cs-link" href="/Leistungen">Postnatale Physiotherapie</a>
        </l>
        <li class="cs-li">
          <a class="cs-link" href="/Leistungen">Pädiatrische Physiotherapie</a>
        </li>
      </ul>
    </div>
    <div class="cs-ul-wrapper">
      <span class="cs-header">Nützliche Links</span>
      <ul class="cs-ul">
        <li class="cs-li">
          <a class="cs-link" href="">Über uns</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Leistungen</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Kontakt</a>
        </li>
        <li class="cs-li">
          <a class="cs-link" href="">Praxis-Hilfen</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="cs-bottom">
    <span class="cs-credit">
      © Copyright 2024 -
      <a href="" class="cs-credit-link" target="_blank">BlackForest-WebCraft</a>
    </span>
    <div class="cs-bottom-links">
      <a href="/datenschutz" class="cs-bottom-link">Datenschutz</a>
      <a href="/impressum" class="cs-bottom-link">Impressum</a>
    </div>
  </div>
</footer>
