---
preloadCSS: "/assets/css/blog.css"
eleventyComputed:
  title: "{{ post.title }}"
  description: "{{ post.description }}"
  preloadImg: "{{ post.mainImage.asset }}"
  permalink: "/blog/{{post.slug.current }}/index.html"
---

{% extends "layouts/base.html" %} {% block head %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% if post.keywords and post.keywords.length > 0 %}
<meta name="keywords" content="{{ post.keywords}}" />
{% else %}
<meta
  name="keywords"
  content="Webdesign, Webentwicklung, BlackForest-WebCraft, SEO, individuelle Webseiten" />
{% endif %}

<link rel="stylesheet" href="/assets/css/blog.css" />
{% endblock %} {% block body %}
<div class="white-space"></div>
<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->

<div class="blog-container main-content-wrapper">
  <!--Main content -->
  <div class="main-content">
    <!-- ============================================ -->
    <!--                  Blog Article                -->
    <!-- ============================================ -->

    <article class="blog-article">
      <!--Article Info-->
      <div class="article-group">
        <h1 class="blog-h1">{{ post.title }}</h1>

        <!--Main Article Image-->
        <picture class="blog-mainImage">
          <!-- For large screens (1201px and up) -->
          <source
            srcset="{{ post.mainImage.asset | urlForWidth(1200) }}"
            media="(min-width: 1201px)"
            sizes="100vw" />

          <!-- For medium screens (601px to 1200px) -->
          <source
            srcset="{{ post.mainImage.asset | urlForWidth(800) }}"
            media="(min-width: 601px)"
            sizes="100vw" />

          <!-- For small screens (up to 600px) -->
          <source
            srcset="{{ post.mainImage.asset | urlForWidth(400) }}"
            media="(max-width: 600px)"
            sizes="100vw" />

          <!-- Fallback Image -->
          <img
            src="{{ post.mainImage.asset | urlForWidth(1000) }}"
            alt="{{ post.mainImage.alt }}"
            decoding="async"
            sizes="100vw" />
        </picture>
        <div class="blog-authorGroup">
          <!--Author Image-->
          <picture class="blog-author-img">
            <img
              src="/assets/images/logo-small.webp"
              alt="house"
              width="32"
              height="32"
              decoding="async" />
          </picture>
          <span class="blog-author">{{ post.author }}</span>
          <span aria-hidden="true" class="blog-dot"></span>
          <!--Blog Date-->
          <span class="blog-date">{{ post.releaseDate | formatDate }}</span>
          <span aria-hidden="true" class="blog-dot"></span>
          <!--Reading Time-->
          <span class="reading-time">Lesezeit: {{ post.readingTime }}</span>
        </div>
      </div>
      <section id="blog-content">
        {{ post.body | portableTextToHtml | safe }}
      </section>
    </article>
  </div>
  <!-- End .main-content -->

  {% include 'components/featured-post.html' %}
</div>

{% endblock %}
