---
title: "Über uns | TheraFit Physiotherapie Team Klettgau"
description: "Lernen Sie unser qualifiziertes Team von Physiotherapeuten kennen. Über 16 Jahre Erfahrung in der Behandlung. ✓ Expertise ✓ Engagement"
preloadImg: "/assets/images/team.png"
permalink: "/about/"
tags: "sitemap"
eleventyNavigation:
  key: Über uns
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="canonical" href="" />

<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
  <div class="cs-container">
    <span class="cs-int-title">Über Uns</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/about" class="cs-link cs-active">Über Uns</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      srcset="{% getUrl '/assets/images/rezeption.png' | resize({ height: 390, width: 448 }) | webp %}"
      media="(max-width: 600px)"
      type="image/webp" />
    <source
      srcset="{% getUrl '/assets/images/rezeption.png' | resize({ height: 474, width: 1024 }) | webp %}"
      media="(min-width: 601px) and (max-width: 1024px)"
      type="image/webp" />
    <source
      srcset="{% getUrl '/assets/images/rezeption.png' | resize({ height: 474, width: 1920 }) | webp %}"
      media="(min-width:1025px)"
      type="image/webp" />
    <img
      src="{% getUrl '/assets/images/rezeption.png' | resize({ height: 400, width: 400 }) | webp %}"
      alt="Description of the image" />
  </picture>
</div>
<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<section id="content-page-1399">
  <div class="cs-container">
    <div class="cs-image-group">
      <div class="cs-flex">
        <picture class="cs-background">
          <source
            srcset="{% getUrl '/assets/images/praxis.png' | resize({ height: 500, width: 400 }) | webp %}"
            media="(min-width: 601px) and (max-width: 1024px)"
            type="image/webp" />
          <source
            srcset="{% getUrl '/assets/images/praxis.png' | resize({ height: 730, width: 540 }) | webp %}"
            media="(min-width:1025px)"
            type="image/webp" />
          <img
            src="{% getUrl '/assets/images/praxis.png' | resize({ height: 400, width: 400 }) | webp %}"
            alt="Description of the image" />
        </picture>
        <div class="cs-box">
          <img
            class="cs-box-icon"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/medical-cross.svg"
            alt="people"
            width="60"
            height="60" />
          <span class="cs-desc"> Lassen Sie es sich gut gehen </span>
        </div>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/trophy.svg"
              alt="icon"
              width="32"
              height="32" />
            Individuelle Betreuung
          </h3>
          <p class="cs-item-text">
            „Wir erstellen maßgeschneiderte Therapiepläne, abgestimmt auf Ihre
            persönlichen Ziele und Beschwerden.“
          </p>
        </li>
        <li class="cs-item">
          <h3 class="cs-h3">
            <img
              class="cs-h3-icon"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/circle-check.svg"
              alt="icon"
              width="32"
              height="32" />
            Ganzheitliche Behandlung
          </h3>
          <p class="cs-item-text">
            „Durch moderne Methoden und persönliche Betreuung behandeln wir
            nicht nur Symptome, sondern auch deren Ursachen.“
          </p>
        </li>
      </ul>
    </div>
    <div class="cs-content">
      <h1 class="cs-title">
        Unsere Geschichte – Eine Vision für
        <span class="cs-color">Ihre Gesundheit </span>
      </h1>
      <h3>Der Wendepunkt – Vom Schicksalsschlag zur Vision</h3>

      <p>
        Manchmal entstehen die bedeutendsten Ideen aus den schwierigsten
        Situationen. Der Gründer von TheraFit erlebte einen schweren Unfall, der
        sein Leben von Grund auf veränderte. Plötzlich waren alltägliche
        Bewegungen wie ein Spaziergang oder das Heben eines Glases eine große
        Herausforderung. In dieser Zeit der Unsicherheit entdeckte er die Kraft
        der Physiotherapie – eine Therapie, die nicht nur seinen Körper heilte,
        sondern auch seinen Geist stärkte. <br /><br />
        Mit Geduld, Hingabe und einem Team erfahrener Therapeuten kämpfte er
        sich Schritt für Schritt zurück ins Leben. Diese Erfahrung weckte in ihm
        eine tiefe Überzeugung: Niemand sollte sich alleine in einem solchen
        Prozess fühlen. Der Wunsch, anderen Menschen durch individuelle
        Betreuung zur Seite zu stehen, wurde zur treibenden Kraft für seine
        Vision – eine Praxis, die Heilung, Hoffnung und Lebensqualität
        zurückgibt.
      </p>

      <h3>Die Gründung – Eine Praxis entsteht</h3>
      <p>
        Mit einer klaren Vision und einem unermüdlichen Willen begann der
        Gründer von TheraFit den Aufbau seiner eigenen Praxis. Dabei war von
        Anfang an klar: Hier sollte kein Patient allein gelassen werden. Es
        wurde ein Team aus spezialisierten Physiotherapeuten zusammengestellt –
        jeder Experte auf seinem Gebiet, aber vereint durch eine gemeinsame
        Mission: Menschen dabei zu helfen, ihre Gesundheit und Lebensfreude
        wiederzuerlangen. Schritt für Schritt wurde die moderne Praxis
        aufgebaut, ausgestattet mit den neuesten Geräten, innovativen
        Behandlungsmethoden und einem klaren Fokus auf ganzheitliche Therapie.
        Von manueller Therapie über neurologische Physiotherapie bis hin zur
        Sportrehabilitation – TheraFit bietet individuelle Lösungen, die so
        einzigartig sind wie die Bedürfnisse jedes einzelnen Patienten.
      </p>
      <h3>Heute – Ihr Partner für ganzheitliche Gesundheit</h3>
      <p>
        Heute steht TheraFit für Expertise, Empathie und moderne Physiotherapie.
        Unser Team aus hochqualifizierten Therapeuten arbeitet in sechs
        Fachgebieten, um Patienten jeden Alters optimal zu unterstützen. Mit
        individueller Betreuung und den neuesten Behandlungsmethoden ist
        TheraFit ein verlässlicher Partner für Ihre Gesundheit – heute und in
        Zukunft.
      </p>
    </div>
  </div>
  <div class="cs-bubbles" aria-hidden="true"></div>
</section>
<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1894">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Dürfen wir vorstellen:</span>
      <h2 class="cs-title">Unser Fachpersonal</h2>
    </div>
    <div class="slides">
      <!-- Slide 1 -->
      <div class="cs-wrapper">
        <div class="cs-image-group">
          <picture class="cs-picture">
            <source
              srcset="{% getUrl '/assets/images/anna_2.png' | resize({ height: 310, width: 230 }) | webp %}"
              media="(max-width: 600px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/anna_2.png' | resize({ height: 320, width: 222 }) | webp %}"
              media="(min-width: 601px) and (max-width: 1024px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/anna_2.png' | resize({ height: 390, width: 290 }) | webp %}"
              media="(min-width:1025px)"
              type="image/webp" />
            <img
              src="{% getUrl '/assets/images/anna_2.png' | resize({ height: 400, width: 400 }) | webp %}"
              alt="Description of the image" />
          </picture>

          <img
            class="cs-graphic cs-beige"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/blob.svg"
            alt="graphic"
            width="300"
            height="312"
            aria-hidden="true" />
        </div>
        <div class="cs-item">
          <div class="wrapper">
            <p class="cs-review">
              Anna Müller entdeckte ihre Leidenschaft für die Physiotherapie
              bereits früh, als ein naher Verwandter nach einem Schlaganfall
              intensive Betreuung benötigte. Sie studierte Physiotherapie mit
              Schwerpunkt Neurologie und sammelte über die Jahre wertvolle
              Erfahrungen in der Rehabilitation von Patienten mit Erkrankungen
              wie Parkinson und Multipler Sklerose. Durch ihre einfühlsame und
              geduldige Art hilft Anna ihren Patienten, verlorene Fähigkeiten
              Schritt für Schritt zurückzugewinnen. <br />Zu TheraFit fand sie,
              weil sie von der Vision beeindruckt war, individuelle Betreuung
              auf höchstem Niveau zu bieten. Heute bringt Anna ihre Expertise
              ein, um Menschen ein neues Stück Lebensqualität zu schenken.
            </p>
          </div>
          <div class="cs-flex-group">
            <span class="cs-name">
              Anna Müller
              <span class="cs-job">Neurologische Physiotherapie</span>
            </span>
          </div>
        </div>
      </div>
      <!-- Slide 2 -->
      <div class="cs-wrapper">
        <div class="cs-item">
          <div class="wrapper">
            <p class="cs-review">
              Lukas Weber entwickelte schon früh eine enge Verbindung zum Sport,
              doch eine schwere Verletzung in seiner Jugend zwang ihn zu einer
              längeren Pause. Diese Erfahrung weckte in ihm den Wunsch, anderen
              Sportlern bei der Rückkehr zu ihrer Bestleistung zu helfen. Er
              spezialisierte sich auf Sportphysiotherapie und erlangte
              tiefgehendes Wissen über Verletzungsprävention, Rehabilitation und
              Leistungsoptimierung.<br />

              Lukas arbeitet eng mit Sportlern aller Leistungsniveaus zusammen,
              von Hobbysportlern bis hin zu Profis. Sein Ziel ist es,
              Beweglichkeit, Kraft und Ausdauer zu fördern und gleichzeitig das
              Risiko für erneute Verletzungen zu minimieren. Dank seiner eigenen
              Erfahrungen weiß er genau, wie wichtig ein maßgeschneiderter
              Therapieplan ist.<br />

              Zu TheraFit fand er, weil er die Philosophie teilte, Bewegung als
              Schlüssel zu einem gesunden und aktiven Leben zu betrachten. Lukas
              kombiniert moderne Trainingsmethoden mit persönlicher Betreuung,
              um seine Patienten zurück auf die Erfolgsspur zu bringen.<br />
            </p>
          </div>
          <div class="cs-flex-group">
            <span class="cs-name">
              Lukas Weber
              <span class="cs-job">Sportphysiotherapie</span>
            </span>
          </div>
        </div>
        <div class="cs-image-group">
          <picture class="cs-picture">
            <source
              srcset="{% getUrl '/assets/images/lukas_2.png' | resize({ height: 310, width: 230 }) | webp %}"
              media="(max-width: 600px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/lukas_2.png' | resize({ height: 320, width: 222 }) | webp %}"
              media="(min-width: 601px) and (max-width: 1024px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/lukas_2.png' | resize({ height: 390, width: 290 }) | webp %}"
              media="(min-width:1025px)"
              type="image/webp" />
            <img
              src="{% getUrl '/assets/images/lukas_2.png' | resize({ height: 400, width: 400 }) | webp %}"
              alt="Description of the image" />
          </picture>

          <img
            class="cs-graphic cs-beige"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/blob.svg"
            alt="graphic"
            width="300"
            height="312"
            aria-hidden="true" />
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="cs-wrapper">
        <div class="cs-image-group">
          <picture class="cs-picture">
            <source
              srcset="{% getUrl '/assets/images/sophie_2.png' | resize({ height: 310, width: 230 }) | webp %}"
              media="(max-width: 600px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/sophie_2.png' | resize({ height: 320, width: 222 }) | webp %}"
              media="(min-width: 601px) and (max-width: 1024px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/sophie_2.png' | resize({ height: 390, width: 290 }) | webp %}"
              media="(min-width:1025px)"
              type="image/webp" />
            <img
              src="{% getUrl '/assets/images/sophie_2.png' | resize({ height: 400, width: 400 }) | webp %}"
              alt="Description of the image" />
          </picture>

          <img
            class="cs-graphic cs-beige"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/blob.svg"
            alt="graphic"
            width="300"
            height="312"
            aria-hidden="true" />
        </div>
        <div class="cs-item">
          <div class="wrapper">
            <p class="cs-review">
              Sophie Becker entdeckte ihre Leidenschaft für die Arbeit mit
              Kindern während eines Praktikums in einer spezialisierten
              Kinderklinik. Dort wurde ihr klar, wie wichtig spielerische
              Ansätze sind, um Kindern mit motorischen Entwicklungsverzögerungen
              zu helfen. Nach ihrem Studium der Physiotherapie spezialisierte
              sie sich auf pädiatrische Physiotherapie und setzte ihr Wissen
              gezielt ein, um kleinen Patienten durch individuelle und kreative
              Therapieansätze zu unterstützen. <br />Sophie legt großen Wert
              darauf, eine vertrauensvolle Atmosphäre zu schaffen, in der Kinder
              Spaß an der Bewegung entwickeln und neue Fähigkeiten spielerisch
              erlernen können. Ihref einfühlsame Art hilft nicht nur den
              Kindern, sondern gibt auch Eltern Sicherheit und Zuversicht. Zu
              TheraFit kam sie, weil sie das familiäre und multidisziplinäre
              Team überzeugte. Hier hat sie die Möglichkeit, sich voll und ganz
              auf die Bedürfnisse der jungen Patienten zu konzentrieren und sie
              auf ihrem Weg zu mehr Selbstständigkeit und Lebensfreude zu
              begleiten.
            </p>
          </div>
          <div class="cs-flex-group">
            <span class="cs-name">
              Sophie Becker
              <span class="cs-job">Pädiatrische Physiotherapie</span>
            </span>
          </div>
        </div>
      </div>
      <!-- Slide 4 -->
      <div class="cs-wrapper">
        <div class="cs-item">
          <div class="wrapper">
            <p class="cs-review">
              Lisa Lange erkannte die Bedeutung der postnatalen Physiotherapie,
              als sie nach der Geburt ihres ersten Kindes selbst die
              Herausforderungen der Rückbildung erlebte. Diese persönliche
              Erfahrung inspirierte sie, sich auf die Unterstützung von Frauen
              in dieser besonderen Lebensphase zu spezialisieren. Sie
              absolvierte Weiterbildungen in postnataler Physiotherapie und
              entwickelte ein tiefes Verständnis für die Bedürfnisse
              frischgebackener Mütter.<br />

              Lisa legt großen Wert darauf, individuelle Therapiepläne zu
              erstellen, die gezielt auf die Stärkung des Beckenbodens und die
              Wiederherstellung der körperlichen Balance abzielen. Sie schafft
              eine vertrauensvolle Atmosphäre, in der Frauen sich wohlfühlen und
              mit Zuversicht an ihrer Gesundheit arbeiten können.<br />

              Zu TheraFit zog sie das Engagement für ganzheitliche Betreuung,
              das perfekt zu ihrem Ansatz passt. Hier unterstützt Lisa Frauen
              dabei, ihre körperliche Stärke zurückzugewinnen und sich in ihrem
              Alltag wieder rundum wohlzufühlen.<br />
            </p>
          </div>
          <div class="cs-flex-group">
            <span class="cs-name">
              Lisa Lange
              <span class="cs-job">Postnatale Physiotherapie</span>
            </span>
          </div>
        </div>
        <div class="cs-image-group">
          <picture class="cs-picture">
            <source
              srcset="{% getUrl '/assets/images/lisa_2.png' | resize({ height: 310, width: 230 }) | webp %}"
              media="(max-width: 600px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/lisa_2.png' | resize({ height: 320, width: 222 }) | webp %}"
              media="(min-width: 601px) and (max-width: 1024px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/lisa_2.png' | resize({ height: 390, width: 290 }) | webp %}"
              media="(min-width:1025px)"
              type="image/webp" />
            <img
              src="{% getUrl '/assets/images/lisa_2.png' | resize({ height: 400, width: 400 }) | webp %}"
              alt="Description of the image" />
          </picture>

          <img
            class="cs-graphic cs-beige"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/blob.svg"
            alt="graphic"
            width="300"
            height="312"
            aria-hidden="true" />
        </div>
      </div>
      <!-- Slide 5 -->
      <div class="cs-wrapper">
        <div class="cs-image-group">
          <picture class="cs-picture">
            <source
              srcset="{% getUrl '/assets/images/max.png' | resize({ height: 310, width: 230 }) | webp %}"
              media="(max-width: 600px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/max.png' | resize({ height: 320, width: 222 }) | webp %}"
              media="(min-width: 601px) and (max-width: 1024px)"
              type="image/webp" />
            <source
              srcset="{% getUrl '/assets/images/max.png' | resize({ height: 390, width: 290 }) | webp %}"
              media="(min-width:1025px)"
              type="image/webp" />
            <img
              src="{% getUrl '/assets/images/max.png' | resize({ height: 400, width: 400 }) | webp %}"
              alt="Description of the image" />
          </picture>

          <img
            class="cs-graphic cs-beige"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/blob.svg"
            alt="graphic"
            width="300"
            height="312"
            aria-hidden="true" />
        </div>
        <div class="cs-item">
          <div class="wrapper">
            <p class="cs-review">
              Maximilian Meier entdeckte seine Leidenschaft für die
              Rehabilitation nach einer eigenen Sportverletzung, die ihn zu
              einer intensiven physiotherapeutischen Behandlung führte.
              Fasziniert von den Möglichkeiten der manuellen Therapie, entschied
              er sich, diesen Weg professionell einzuschlagen. Nach seinem
              Studium sammelte er wertvolle Erfahrungen in renommierten
              Reha-Zentren und spezialisierte sich auf die Wiederherstellung von
              Mobilität und Lebensqualität nach Verletzungen oder
              Operationen.<br />

              Maximilian arbeitet eng mit seinen Patienten zusammen, um
              individuelle Therapiepläne zu entwickeln, die auf ihre
              spezifischen Bedürfnisse abgestimmt sind. Sein Ziel ist es, ihnen
              Schritt für Schritt zu helfen, wieder ein aktives und
              schmerzfreies Leben zu führen. Dabei setzt er auf eine Kombination
              aus bewährten Techniken und innovativen Ansätzen.<br />

              TheraFits Ansatz einer individuellen und ganzheitlichen Betreuung
              überzeugte ihn sofort. Hier kann Maximilian seine Expertise
              einbringen, um Patienten auf ihrem Weg zur Genesung bestmöglich zu
              unterstützen.<br />
            </p>
          </div>
          <div class="cs-flex-group">
            <span class="cs-name">
              Maximilian Meier
              <span class="cs-job">Rehabilitation, Manuelle Therapie</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <img
      class="cs-flower"
      src="/assets/svgs/hello-icon.svg"
      alt="graphic"
      loading="lazy"
      decoding="async"
      height="143"
      width="235" />
  </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-340-1112">
  <ul class="cs-card-group">
    <li class="cs-item">
      <picture class="cs-picture">
        <source
          srcset="{% getUrl '/assets/images/therapeuten.png' | resize({ height: 40, width: 40 }) | webp %}"
          media="(min-width: 601px) and (max-width: 1024px)"
          type="image/webp" />
        <source
          srcset="{% getUrl '/assets/images/therapeuten.png' | resize({ height: 45, width: 45 }) | webp %}"
          media="(min-width:1025px)"
          type="image/webp" />
        <img
          src="{% getUrl '/assets/images/therapeuten.png' | resize({ height: 50, width: 50 }) | webp %}"
          alt="Description of the image" />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">5</span>
        <span class="cs-desc">Therapeuten</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <source
          srcset="{% getUrl '/assets/images/zufriedene_kunden.png' | resize({ height: 40, width: 40 }) | webp %}"
          media="(min-width: 601px) and (max-width: 1024px)"
          type="image/webp" />
        <source
          srcset="{% getUrl '/assets/images/zufriedene_kunden.png' | resize({ height: 45, width: 45 }) | webp %}"
          media="(min-width:1025px)"
          type="image/webp" />
        <img
          src="{% getUrl '/assets/images/zufriedene_kunden.png' | resize({ height: 50, width: 50 }) | webp %}"
          alt="Description of the image" />
      </picture>

      <div class="cs-flex-group">
        <span class="cs-number">140</span>
        <span class="cs-desc">Zufriedene Kunden</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <source
          srcset="{% getUrl '/assets/images/fachgebiete.png' | resize({ height: 40, width: 40 }) | webp %}"
          media="(min-width: 601px) and (max-width: 1024px)"
          type="image/webp" />
        <source
          srcset="{% getUrl '/assets/images/fachgebiete.png' | resize({ height: 45, width: 45 }) | webp %}"
          media="(min-width:1025px)"
          type="image/webp" />
        <img
          src="{% getUrl '/assets/images/fachgebiete.png' | resize({ height: 50, width: 50 }) | webp %}"
          alt="Description of the image" />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">6</span>
        <span class="cs-desc">Fachgebiete</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <source
          srcset="{% getUrl '/assets/images/erfahrung.png' | resize({ height: 40, width: 40 }) | webp %}"
          media="(min-width: 601px) and (max-width: 1024px)"
          type="image/webp" />
        <source
          srcset="{% getUrl '/assets/images/erfahrung.png' | resize({ height: 45, width: 45 }) | webp %}"
          media="(min-width:1025px)"
          type="image/webp" />
        <img
          src="{% getUrl '/assets/images/erfahrung.png' | resize({ height: 50, width: 50 }) | webp %}"
          alt="Description of the image" />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">16</span>
        <span class="cs-desc">Jahre Erfahrung</span>
      </div>
    </li>
  </ul>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      srcset="{% getUrl '/assets/images/detail7.png' | resize({ height: 390, width: 448 }) | webp %}"
      media="(max-width: 600px)"
      type="image/webp" />
    <source
      srcset="{% getUrl '/assets/images/detail7.png' | resize({ height: 474, width: 1024 }) | webp %}"
      media="(min-width: 601px) and (max-width: 1024px)"
      type="image/webp" />
    <source
      srcset="{% getUrl '/assets/images/detail7.png' | resize({ height: 474, width: 1920 }) | webp %}"
      media="(min-width:1025px)"
      type="image/webp" />
    <img
      src="{% getUrl '/assets/images/detail7.png' | resize({ height: 400, width: 400 }) | webp %}"
      alt="mechanic"
      aria-hidden="true"
      loading="lazy"
      decoding="async" />
  </picture>
</div>

{% endblock %}
