---
title: "Blog | BlackForest-WebCraft"
description: "Beiträge zu Themen wie: Programmieren, Design, SEO, Webseitenerstellung, Planung, Prozess und vieles mehr."
preloadImg: ""
permalink: "Blog/"
eleventyNavigation:
  key: Blog
  order: 500
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/blog.css" />
<script defer src="/assets/js/blog.js"></script>

{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
  <div class="hero-header">
    <h1 id="home-h">
      <span class="home-animation">Willkommen auf meinem</span>
      <span class="deco">Blog</span>
    </h1>
    <p class="blogP">Text zum Blog</p>
  </div>
</section>

<!-- ============================================ -->
<!--              Main Blog Content               -->
<!-- ============================================ -->
<div class="background">
  <div class="blog-container main-content-wrapper">
    <!--Main content -->
    <div class="main-content grid">
      <h2 class="Aktueller-Artikel ArtikelAnimation">Aktueller Artikel:</h2>
      <!-- ============================================ -->
      <!--                 Blog Articles                -->
      <!-- ============================================ -->

      {%- for post in collections.sanityPosts -%}
      <article
        class="{% if loop.first %}recent-articles large-item{% else %}recent-articles small-item{% endif %}">
        <!--Main Article Image-->
        <picture
          class="{% if loop.first %}blog-mainImage large-img{% else %}blog-mainImage {% endif %}">
          <img
            src="{% if loop.first %}{{ post.mainImage.asset | urlForWidth(800) }}{% else %}{{ post.mainImage.asset | urlForWidth(500) }}{% endif %}"
            alt="{{ post.mainImage.alt }}"
            decoding="async" />
        </picture>
        <!--Article Info-->
        <div class="article-group">
          <p class="blog-flag">{{post.categories}}</p>
          <h2 class="blog-h1">{{ post.title }}</h2>
          <p class="blog-desc">{{ post.description }}</p>
          <div class="footer-group">
            <a href="/blog/{{ post.slug.current }}/" class="blog-link"
              >Weiterlesen
            </a>
            <div class="blog-author-date">
              <div class="blog-authorGroup">
                <!--Author Image-->
                <picture class="blog-author-img">
                  <img
                    src="/assets/images/logo-small.webp"
                    width="32"
                    height="32"
                    alt="author-img"
                    decoding="async" />
                </picture>
                <span class="blog-author">{{ post.author }}</span>
                <span aria-hidden="true" class="blog-dot"></span>
              </div>

              <!--Blog Date-->
              <span class="blog-date">{{ post.releaseDate | formatDate}}</span>
            </div>
          </div>
        </div>
      </article>
      {%- if loop.first -%}
      <h2 class="Weitere-Artikel ArtikelAnimation">Weitere Artikel:</h2>
      {%- endif -%} {%- endfor -%}
    </div>
  </div>
</div>
{% endblock %}
