---
title: "Kontakt | Therafit Physiotherapie"
description: "Kontaktieren Sie uns für Ihre physiotherapeutische Behandlung"
preloadImg: "/assets/images/rezeption.png"
permalink: "contact/"
eleventyNavigation:
  key: Kontakt
  order: 600
  hideOnDesktop: true
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />
{% endblock %} {% block body %}

<!--BANNER-->

<div id="banner-1106-1112">
  <div class="cs-container">
    <span class="cs-int-title">Kontaktieren Sie uns</span>
    <div class="cs-breadcrumbs">
      <a href="/" class="cs-link">Home</a>
      <a href="/contact" class="cs-link cs-active">Kontakt</a>
    </div>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <source
      srcset="{% getUrl '/assets/images/rezeption.png' | resize({ height: 390, width: 448 }) | webp %}"
      media="(max-width: 600px)"
      type="image/webp" />
    <source
      srcset="{% getUrl '/assets/images/rezeption.png' | resize({ height: 474, width: 1024 }) | webp %}"
      media="(min-width: 601px) and (max-width: 1024px)"
      type="image/webp" />
    <source
      srcset="{% getUrl '/assets/images/rezeption.png' | resize({ height: 474, width: 1920 }) | webp %}"
      media="(min-width:1025px)"
      type="image/webp" />
    <img
      src="{% getUrl '/assets/images/rezeption.png' | resize({ height: 400, width: 400 }) | webp %}"
      alt="Description of the image" />
  </picture>
</div>
<!-- ============================================ -->
<!--                Contact Form                  -->
<!-- ============================================ -->

<section id="contact-2251">
  <div class="cs-container">
    <!--Copy and paste any iframe from Google Maps-->
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d655.3724443794923!2d8.83440077618549!3d47.76383244686317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479a7d3e6f734c4f%3A0xaaa055a4715ede38!2sAlemannenstra%C3%9Fe%2C%2078224%20Singen%20(Hohentwiel)!5e0!3m2!1sde!2sde!4v1736884733433!5m2!1sde!2sde"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="cs-wrapper">
      <div class="cs-content">
        <span class="cs-topper">Kontakt</span>
        <h2 class="cs-title">Ihre Gesundheit liegt uns am Herzen</h2>
        <p class="cs-text">
          Wir sind für Sie da! Kontaktieren Sie uns für einen Termin oder bei
          Fragen zu unseren Behandlungen. Unser erfahrenes Team freut sich
          darauf, Sie kennenzulernen und Ihnen auf dem Weg zur Genesung zu
          helfen.
        </p>
      </div>
      <form
        class="cs-form"
        id="cs-form-2147-2251"
        name="Kontaktformular"
        method="post">
        <label class="cs-label">
          <input
            class="cs-input"
            required
            type="text"
            id="name-2147-2251"
            name="name"
            placeholder="Name" />
        </label>
        <label class="cs-label">
          <input
            class="cs-input"
            required
            type="email"
            id="email-2147-2251"
            name="email"
            placeholder="E-Mail" />
        </label>
        <label class="cs-label">
          <input
            class="cs-input"
            type="tel"
            id="phone-2147-2251"
            name="phone"
            placeholder="Telefon" />
        </label>
        <label class="cs-label">
          <select
            class="cs-select"
            name="behandlung"
            id="classes-2147-2251"
            placeholder="Behandlung">
            <option value="">Behandlung auswählen</option>
            <option value="Physiotherapie">Physiotherapie</option>
            <option value="Massage">Massage</option>
            <option value="Manuelle Therapie">Manuelle Therapie</option>
            <option value="Lymphdrainage">Lymphdrainage</option>
          </select>
        </label>
        <label class="cs-label cs-message">
          <textarea
            class="cs-input cs-textarea"
            required
            name="Message"
            id="message-2147-2251"
            placeholder="Ihre Nachricht"></textarea>
        </label>
        <div class="cs-button-wrapper">
          <button class="cs-button-solid"><span>Senden</span></button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
