@charset "UTF-8";
/* PAGE-SPECIFIC STYLES FOR THE BLOG AND ARTICLE PAGES */
/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
.background {
  z-index: -1;
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .blog-container {
    margin: auto;
    width: 94%;
  }
  .blog-link {
    z-index: 1;
    position: relative;
    display: inline-block;
    border-radius: 0.25rem;
    margin: auto;
    background-color: var(--headerColor);
    min-width: 6.25rem;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: white;
    transition: color 0.3s;
    text-align: center;
  }
  .blog-link:before {
    z-index: -1;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    border: 1px solid var(--primary);
    border-radius: 0.25rem;
    background: #fff;
    height: 100%;
    width: 60%;
    box-sizing: border-box;
    transition: opacity 0.3s;
  }
  .blog-link:hover {
    color: var(--headerColor);
  }
  .blog-link:hover:before {
    opacity: 1;
  }
}
/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  #int-hero {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
  }
  #int-hero .hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }
  #int-hero h1 {
    position: relative;
    margin: 0 auto;
    margin-top: 4.375rem;
    margin-bottom: 1.875rem;
    max-width: 62.5rem;
    width: 96%;
    font-size: 2.1333333333rem;
    color: #171717;
    text-align: center;
    transform: translateY(-1000px);
    opacity: 0;
    transition: transform 0.5s;
  }
  #int-hero .home-animation {
    transform: translateY(0px);
    opacity: 1;
  }
  #int-hero .deco {
    display: block;
    font-family: "Alex Brush";
    font-size: clamp(4rem, 6vw, 8rem);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--primary);
    transform: translateY(-1000px);
    opacity: 0;
    transition: transform 0.4s, opacity 0.8s;
  }
  #int-hero .deco.blog-O-animation {
    transform: translateY(0px);
    opacity: 1;
  }
  #int-hero .blogP {
    display: block;
    position: relative;
    margin-bottom: 1.875rem;
    font-size: clamp(1rem, min(0.8vw + 0.4rem, 1.2rem), 1.2rem);
    font-weight: 500;
    margin: 0;
    color: #171717;
    text-align: left;
    margin-bottom: 1rem;
    transition: transform 0.5s;
    transform: translateX(-10000px);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }
  #int-hero .blogP.animationP {
    transform: translateX(0px);
  }
}
/* Tablet */
@media only screen and (min-width: 48rem) {
  #int-hero {
    font-size: 100%;
  }
  #int-hero h1 {
    font-size: 3.2rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64rem) {
  #int-hero {
    background-attachment: fixed;
    min-height: 18.75rem;
    height: auto;
    padding-top: 11.25rem;
    font-size: inherit;
    padding-block-end: 1.25rem;
  }
  #int-hero p {
    margin-bottom: 3rem;
  }
  #int-hero .hero-header {
    position: relative;
    top: -50px;
    padding-top: 0;
  }
}
/*-- -------------------------- -->
<---        Main Content        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .white-space {
    width: 100%;
    height: 5rem;
  }
  .blog-container {
    padding: clamp(60px, 7vw, 100px) 0;
  }
  .blog-flag {
    color: #ebebeb;
    font-size: large;
    border: 2px solid white;
    width: fit-content;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.5rem;
  }
  .main-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3.125em;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 3.125em;
  }
  .main-content .Aktueller-Artikel {
    color: #171717;
    z-index: 99;
    margin-left: 1rem;
    margin-bottom: -1.5rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2em;
    transform: translateX(-1000px);
    transition: transform 0.5s;
  }
  .main-content .Weitere-Artikel {
    z-index: 99;
    color: #171717;
    grid-column: 1/-1;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: -1.5rem;
    margin-left: 1rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2em;
    transform: translateX(-1000px);
    transition: transform 0.5s;
  }
  .main-content .animationP {
    transform: translateX(0px);
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64rem) {
  .white-space {
    width: 100%;
    height: 10rem;
  }
  .blog-container {
    padding-top: 0rem;
  }
  .main-content {
    width: 80%;
  }
  .main-content-wrapper {
    flex-direction: column;
    align-items: center;
    column-gap: 1.25em;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5rem;
    width: 80%;
  }
  .large-item {
    box-sizing: border-box;
    font-size: clamp(1.2rem, 3.5vw, 2.4rem);
    width: 100%;
    min-height: 30rem;
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: center;
    align-self: center;
  }
  .large-item .blog-mainImage {
    flex: 1;
    object-fit: cover;
  }
  .large-item .article-group {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .small-item {
    grid-column: span 1;
    max-width: 49.6875em;
  }
}
@media only screen and (min-width: 75rem) {
  .main-content {
    max-width: 80rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5rem;
    width: 80%;
  }
  .large-item {
    box-sizing: border-box;
    width: 100%;
    grid-column: span 2;
  }
  .small-item {
    grid-column: span 1;
    max-width: 49.6875em;
  }
}
@media only screen and (min-width: 112rem) {
  .main-content {
    max-width: 80rem;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5rem;
    width: 60%;
  }
  .large-item {
    box-sizing: border-box;
    width: 100%;
    grid-column: span 2;
  }
}
/*-- -------------------------- -->
<---    Recent Blog Articles    -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .recent-articles.load {
    opacity: 1;
    transform: scale(1);
  }
  .recent-articles.focus {
    filter: brightness(1);
  }
  .recent-articles {
    z-index: 99;
    width: 90%;
    height: 100%;
    overflow: hidden;
    flex: none;
    border: 2px solid black;
    opacity: 0;
    transform: scale(0);
    border-radius: 1rem;
    box-shadow: 4px 4px 5px rgba(19, 19, 19, 0.926);
    transition: transform 0.2s, box-shadow 0.2s, opacity 0.3s ease-out, filter 0.3s, outline 0.1s ease-in-out;
  }
  .recent-articles:hover {
    box-shadow: none;
    outline: 5px solid var(--primary);
    outline-offset: 5px;
  }
  .recent-articles .blog-mainImage {
    position: relative;
    display: block;
    height: clamp(300px, 35vw, 350px);
    width: 100%;
    overflow: hidden;
  }
  .recent-articles .blog-mainImage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid black;
  }
  .recent-articles .article-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    padding: clamp(15px, 2.5vw, 25px);
    background-color: #171717;
  }
  .recent-articles .footer-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    align-items: start;
  }
  .recent-articles .footer-group .blog-author-date {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .recent-articles .footer-group .blog-link {
    margin-left: 0;
  }
  .recent-articles .footer-group .blog-authorGroup {
    margin-top: 1rem;
    margin-left: 0.2rem;
  }
  .recent-articles .footer-group .blog-date {
    margin-top: 1rem;
  }
  @keyframes moveGradient {
    0% {
      height: 20%;
    }
    50% {
      height: 90%;
    }
    100% {
      height: 0%;
    }
  }
  .recent-articles .blog-author-img {
    position: relative;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 50%;
    height: 1em;
    width: 1em;
    overflow: hidden;
  }
  .recent-articles .blog-author-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .recent-articles .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .recent-articles .blog-author,
  .recent-articles .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
  }
  .recent-articles .blog-dot {
    display: block;
    border-radius: 50%;
    background-color: var(--primary);
    height: 3px;
    width: 3px;
    margin-left: 0.2rem;
    margin-right: 0.7rem;
  }
  .recent-articles .blog-h1 {
    margin: 1rem 0;
    font-size: clamp(20px, 8vw, 30px);
    line-height: 1.4em;
    font-weight: 700;
    color: #ebebeb;
  }
  .recent-articles .blog-desc {
    margin: 1rem 0 2rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
  }
  .recent-articles .blog-link {
    z-index: 1;
    position: relative;
    display: inline-block;
    border-radius: 0.25rem;
    margin: auto;
    background-color: var(--primary);
    min-width: 9.375rem;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: #171717;
    transition: color 0.3s;
    text-align: center;
  }
  .recent-articles .blog-link:before {
    z-index: -1;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    border: 1px solid var(--headerColor);
    border-radius: 0.25rem;
    background: #171717;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s;
  }
  .recent-articles .blog-link:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0%;
    height: 0%;
    background: linear-gradient(to top, rgba(241, 199, 10, 0.6), rgba(190, 176, 15, 0));
    border-radius: 0.25rem;
  }
  .recent-articles .blog-link:hover {
    color: var(--headerColor);
  }
  .recent-articles .blog-link:hover:before {
    opacity: 1;
  }
}
/* Mobile - 1024px */
@media only screen and (min-width: 64rem) {
  .recent-articles {
    width: 100%;
  }
  .recent-articles .blog-h1 {
    max-width: 31.25rem;
    font-size: clamp(1.2rem, 3.5vw, 2.4rem);
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .recent-articles .large-img {
    width: 100%;
    height: 100%;
  }
  .recent-articles .large-img img {
    object-fit: cover;
  }
  .recent-articles .footer-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
  }
  .recent-articles .footer-group .blog-link {
    margin-left: 0;
  }
  .recent-articles .footer-group .blog-authorGroup {
    margin-top: 1rem;
  }
  .recent-articles .footer-group .blog-date {
    margin-top: 1rem;
  }
  .recent-articles.small-item {
    display: flex;
    flex-direction: column;
  }
  .recent-articles.small-item .blog-mainImage {
    height: 15rem;
  }
  .recent-articles.small-item .blog-flag {
    font-size: 0.8rem;
  }
  .recent-articles.small-item .blog-h1 {
    font-size: 1.8rem;
  }
  .recent-articles.small-item .blog-desc {
    display: none;
  }
  .recent-articles.small-item .article-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }
  .recent-articles.small-item .article-group .blog-link {
    font-size: 0.875rem;
    padding: 0 1.125rem;
    min-width: 5rem;
  }
}
/*-- -------------------------- -->
<---          Sidebar           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 49.6875em;
    width: 80%;
    box-sizing: border-box;
    row-gap: 3.125em;
    transition: transform 0.3s ease-in-out, opacity 0.3s;
  }
  .blog-sidebar .blog-featured-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #171717;
    border-radius: 0.5em;
    width: 120%;
    max-width: 30rem;
    padding: 2.1875em 1.875em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.217), 0 6px 6px rgba(0, 0, 0, 0.206);
  }
  .blog-sidebar .slide-in-right {
    opacity: 0;
    transform: translateX(1000px);
    transition: opacity 0.6s ease-in-out, transform 0.5s;
  }
  .blog-sidebar .slide-in-right.show {
    opacity: 1;
    transform: translateX(0);
  }
  .blog-sidebar .blog-header {
    position: relative;
    display: block;
    margin-bottom: 1.875rem;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--bodyTextColor);
    text-align: center;
  }
  .blog-sidebar .blog-header:after {
    position: relative;
    content: "";
    display: block;
    border-radius: 0.25rem;
    margin: 1rem auto;
    background: var(--bodyTextColor);
    height: 3px;
    width: 3.125rem;
  }
  .blog-sidebar .blog-feature {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding: 1.25rem 0;
    text-decoration: none;
    column-gap: 1.5em;
  }
  .blog-sidebar .blog-feature:nth-of-type(1) {
    padding-top: 0;
  }
  .blog-sidebar .blog-feature:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  .blog-sidebar .blog-featureImage {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 3.75em;
    width: 3.75em;
    overflow: hidden;
    flex: none;
  }
  .blog-sidebar .blog-featureImage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .blog-sidebar .blog-link2 {
    z-index: 1;
    position: relative;
    display: inline-block;
    border-radius: 0.25rem;
    margin: auto;
    background-color: var(--primary);
    min-width: 6.25rem;
    box-sizing: border-box;
    padding: 0 1.5rem;
    text-decoration: none;
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    font-weight: 700;
    color: var(--bodyTextColor);
    transform: translateX(1000px);
    opacity: 0;
    transition: color 0.4s, background-color 0.4s, transform 0.5s, opacity 0.5s;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.217), 0 6px 6px rgba(0, 0, 0, 0.206);
  }
  .blog-sidebar .blog-link2:hover {
    background-color: #171717;
    color: #ebebeb;
  }
  .blog-sidebar .blog-link2.show {
    opacity: 1;
    transform: translateX(0);
  }
  .blog-sidebar .feature-h3 {
    display: block;
    margin: 0;
    margin-bottom: 0.25rem;
    text-decoration: none;
    font-size: 0.9375rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--bodyTextColor);
    transition: color 0.3s, transform 0.3s;
  }
  .blog-sidebar .feature-h3:hover {
    color: var(--primary);
    transform: scale(1.1);
    font-weight: 800;
  }
  .blog-sidebar .feature-date {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 1024px */
@media only screen and (min-width: 64rem) {
  .blog-sidebar {
    max-width: 22.5em;
  }
  .blog-sidebar .blog-feature {
    justify-content: flex-start;
  }
}
/*-- -------------------------- -->
<---        Blog Articles       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  .blog-article {
    display: block;
    max-width: 59.375em;
    width: 100%;
  }
  .blog-article .blog-mainImage {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.217), 0 6px 6px rgba(0, 0, 0, 0.206);
    position: relative;
    display: block;
    border: 4px solid #171717;
    border-radius: 0.5em;
    margin-bottom: 3.125em;
    height: clamp(300px, 40vw, 500px);
    width: 100%;
    overflow: hidden;
    margin-top: 5rem;
  }
  .blog-article .blog-mainImage img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .blog-article .blog-author-img {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    overflow: hidden;
  }
  .blog-article .blog-author-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .blog-article .blog-authorGroup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
  }
  .blog-article .blog-author,
  .blog-article .blog-date {
    font-size: 0.875rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  .blog-article .reading-time {
    font-size: 0.875rem;
  }
  .blog-article .blog-dot {
    display: block;
    border-radius: 50%;
    background-color: #fe4f70;
    height: 3px;
    width: 3px;
  }
  .blog-article .blog-h1 {
    text-align: center;
    margin: 1rem 0;
    max-width: 500rem;
    font-size: clamp(1.8rem, 4.8vw, 3.2rem);
    line-height: 1.4em;
    font-weight: 700;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content {
    font-weight: 500;
    border-top: 1px solid #171717;
    margin-top: 1em;
    padding-top: 3em;
    border-bottom: 1px solid #171717;
  }
  .blog-article #blog-content .glühbirne {
    position: relative;
    top: -80px;
    right: -360px;
    transform: rotate(20deg);
    width: 3rem;
    height: auto;
  }
  .blog-article #blog-content h1 {
    font-family: "Montserrat";
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 1.75em;
    font-weight: 700;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content h2 {
    margin-top: 4rem;
    font-family: "Montserrat";
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--bodyTextColor);
    text-decoration: underline;
    text-decoration-color: #f46f4e;
    text-underline-offset: 0.2rem;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.2rem;
  }
  .blog-article #blog-content h3 {
    margin-top: 4rem;
    font-family: "Montserrat";
    margin-bottom: 1rem;
    font-size: 1.25rem;
    line-height: 1.5em;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    color: var(--bodyTextColor);
    text-decoration-color: #f46f4e;
    text-underline-offset: 0.2rem;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.2rem;
  }
  .blog-article #blog-content h4 {
    margin-top: 3.125rem;
  }
  .blog-article #blog-content h4,
  .blog-article #blog-content h5,
  .blog-article #blog-content h6 {
    margin-bottom: 1rem;
    font-size: 1.0625rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content p {
    font-family: "Inter-Regular", sans-serif;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.6em;
    color: var(--bodyTextColor);
    overflow-wrap: normal;
    word-break: keep-all;
    padding: 0 0.6rem;
  }
  .blog-article #blog-content a {
    text-decoration: underline;
    font-size: inherit;
    color: rgb(255, 111, 0);
  }
  .blog-article #blog-content ul,
  .blog-article #blog-content ol {
    margin: 1rem 0;
    padding-left: 2.5rem;
  }
  .blog-article #blog-content ul li,
  .blog-article #blog-content ol li {
    margin-bottom: 1rem;
    list-style: circle;
    font-size: 1rem;
    line-height: 1.6em;
    color: var(--bodyTextColor);
  }
  .blog-article #blog-content img {
    display: block;
    border-radius: 0.5rem;
    margin: 1rem 0;
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 62.5rem) {
  .blog-article .blog-mainImage {
    height: 35rem;
  }
  .blog-article #blog-content h3 {
    text-align: left;
  }
}
/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer {
    background-color: #1a1a1a;
    /* 60px - 100px top and bottom */
    padding: clamp(3.75em, 7.82vw, 6.25em) 1em;
    font-family: "Roboto", "Arial", sans-serif;
  }
  #cs-footer .cs-container {
    margin: auto;
    max-width: 80em;
    width: 100%;
  }
  #cs-footer .cs-logo-group {
    position: relative;
    /* takes up all the space, lets the other ul's wrap below it */
    width: 100%;
  }
  #cs-footer .cs-logo {
    display: block;
    /* 28px - 44px */
    margin-bottom: clamp(1.75em, 4.17vw, 2.75em);
    height: auto;
    /* 210px - 240px */
    width: clamp(13.125em, 8vw, 15em);
  }
  #cs-footer .cs-logo-img {
    height: auto;
    width: 100%;
  }
  #cs-footer .cs-text {
    margin: 0;
    margin-bottom: 2.5rem;
    /* changes to 521px at desktop */
    max-width: 21.5rem;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer .cs-nav {
    margin: 0;
    /* 32px - 40px */
    margin-bottom: clamp(2em, 5.3vw, 2.5em);
    padding: 0;
    padding-left: 1em;
  }
  #cs-footer .cs-nav-li {
    list-style: none;
    line-height: 1.5em;
  }
  #cs-footer .cs-nav-li:last-of-type {
    margin-bottom: 0;
  }
  #cs-footer .cs-header {
    position: relative;
    display: block;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer .cs-nav-link {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColorWhite);
  }
  #cs-footer .cs-nav-link:before {
    position: absolute;
    bottom: -0.125rem;
    left: 0;
    /* underline */
    content: "";
    opacity: 1;
    display: block;
    /* current color of the parent */
    background: currentColor;
    height: 0.125rem;
    width: 0%;
    transition: width 0.3s;
  }
  #cs-footer .cs-nav-link:hover:before {
    width: 100%;
  }
  #cs-footer .cs-bottom {
    position: relative;
    width: 100%;
    padding-left: 1em;
  }
  #cs-footer .cs-copyright {
    display: block;
    font-size: 1rem;
    line-height: 1.5em;
    color: #b4b2c7;
  }
  #cs-footer .cs-social {
    position: absolute;
    bottom: 0;
    right: 1em;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.75em;
  }
  #cs-footer .cs-social-link {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4e4b66;
    height: 1.5rem;
    width: 1.5rem;
    transition: transform 0.3s, background-color 0.3s;
  }
  #cs-footer .cs-social-link:hover {
    transform: translateY(-0.1875rem);
    background-color: var(--primary);
  }
  #cs-footer .cs-social-img {
    display: block;
    height: 0.8125rem;
    width: auto;
  }
}
/* Inbetween - 600px */
@media only screen and (min-width: 37.5em) {
  #cs-footer .cs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    /* 48px - 60px */
    column-gap: clamp(3em, 5.9vw, 3.75em);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer .cs-logo-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* 20px - 60px */
    margin-bottom: clamp(1.25em, 4vw, 3.75em);
  }
  #cs-footer .cs-logo {
    margin: 0;
  }
  #cs-footer .cs-text {
    margin: 0;
    max-width: 32.5625rem;
    width: 50%;
    text-align: right;
  }
  #cs-footer .cs-nav {
    padding: 0;
  }
  #cs-footer .cs-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  #cs-footer .cs-social {
    position: relative;
    /* reset these positions */
    bottom: auto;
    right: auto;
    flex-direction: row;
  }
}
.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.out-top {
  animation: rotate 70s linear infinite;
  transform-origin: 13px 25px;
}

.in-top {
  animation: rotate 90s linear infinite;
  transform-origin: 13px 25px;
}

.out-bottom {
  animation: rotate 105s linear infinite;
  transform-origin: 84px 93px;
}

.in-bottom {
  animation: rotate 145s linear infinite;
  transform-origin: 84px 93px;
}

.blog-highlight {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 3px;
}

.blog-article #blog-content .blog-body-image {
  width: 4rem;
  position: relative;
  transform: translate(800%, -120%);
  margin: 0;
  margin-bottom: -3.5rem;
}

.blog-article #blog-content .blog-body-image-2 {
  width: 4rem;
  position: relative;
  transform: translate(1200%, -130%);
  margin: 0;
  margin-bottom: -3.5rem;
}

.blog-article #blog-content .blog-body-image-3 {
  width: 4rem;
  position: relative;
  transform: translate(900%, -120%);
  margin: 0;
  margin-bottom: -3.5rem;
}

.bullet-point {
  margin-right: 1rem;
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.quote-style {
  position: relative;
}
.quote-style::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #808080;
}

.svg-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  height: auto;
  width: 90%;
  max-width: 40rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.217), 0 6px 6px rgba(0, 0, 0, 0.206);
}

.without-shadow {
  box-shadow: none;
}

/*# sourceMappingURL=blog.css.map */
