/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2042 {
    /* Centers button */
    text-align: center;
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-2042 .cs-container {
    z-index: 999;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    /* turned off pointer events on the container so the video stops when you click on the background as well */
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 120px - 465px */
    gap: clamp(7.5rem, 24vw, 29.0625rem);
  }
  #hero-2042 .cs-content {
    text-align: center;
    width: 100%;
    /* changes to 564px on tablet */
    max-width: 20.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #hero-2042 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    color: var(--bodyTextColorWhite);
  }
  #hero-2042 .cs-text {
    margin-bottom: 2rem;
    color: var(--bodyTextColorWhite);
  }
  #hero-2042 .cs-button-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  #hero-2042 .cs-play {
    /* 80px - 120px */
    width: clamp(5rem, 14vw, 7.5rem);
    height: clamp(5rem, 14vw, 7.5rem);
    background-color: var(--backgroundColor);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    z-index: 111;
    transition: opacity 0.3s, transform 0.3s;
    backdrop-filter: blur(8px);
  }
  #hero-2042 .cs-play.cs-hide {
    opacity: 0;
    transform: scale(0);
  }
  #hero-2042 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    border-radius: 0.5rem;
    display: inline-block;
    position: relative;
    z-index: 10;
    pointer-events: auto;
  }
  #hero-2042 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-2042 .cs-button-solid:hover:before {
    width: 100%;
  }
  #hero-2042 .cs-video-wrapper {
    width: 100%;
    /* changes to 90% at tablet, then back to 100% at desktop */
    height: 100%;
    display: block;
    position: absolute;
    top: 0%;
    left: 0;
    z-index: -1;
  }
  #hero-2042 .cs-video-wrapper:hover {
    cursor: pointer;
  }
  #hero-2042 .cs-video-wrapper video,
  #hero-2042 .cs-video-wrapper .cs-picture {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
  #hero-2042 .cs-video-wrapper video img,
  #hero-2042 .cs-video-wrapper .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes image act as a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-2042 .cs-video-wrapper:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 16.54%, rgba(0, 0, 0, 0.64) 59.41%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2042 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 6.25rem;
  }
  #hero-2042 .cs-content {
    text-align: left;
    max-width: 35.25rem;
    align-items: flex-start;
  }
  #hero-2042 .cs-video-wrapper::before {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 51.02%, rgba(0, 0, 0, 0.64) 75.13%), linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2170 {
    padding: var(--sectionPadding);
    background-color: #fbf5f1;
    overflow: hidden;
    position: relative;
    z-index: 1;
    position: relative;
    background-image: url("../svgs/team-svg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #sbs-2170 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-2170 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 46.125rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbs-2170 .cs-flex {
    padding-left: 3rem;
  }
  #sbs-2170 .cs-title {
    margin: 0 0 2.5rem 0;
  }
  #sbs-2170 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-2170 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-2170 .cs-button-solid {
    font-size: 1rem;
    line-height: 3.5rem;
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-2170 .cs-button-solid:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: #1a1a1a;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-2170 .cs-button-solid:hover {
    color: var(--primary);
  }
  #sbs-2170 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-2170 .cs-ul {
    width: 100%;
    /* 32px - 64px */
    margin: 0 0 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #sbs-2170 .cs-li {
    list-style: none;
    padding: 1rem 0;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    position: relative;
    z-index: 1;
  }
  #sbs-2170 .cs-li:first-of-type {
    padding-top: 0;
  }
  #sbs-2170 .cs-li:last-of-type {
    border: none;
    padding-bottom: 0;
  }
  #sbs-2170 .cs-number {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #sbs-2170 .cs-li-text {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    color: var(--bodyTextColor);
  }
  #sbs-2170 .cs-stats-group {
    width: 100%;
    /* 32px - 64px */
    margin: clamp(2rem, 6vw, 4rem) 0 0;
    /* 24px - 100px */
    padding: 0.5rem clamp(1.5rem, 7vw, 7.52rem);
    background-color: var(--secondary);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(4rem, 14vw, 9.25rem);
    position: relative;
    z-index: 1;
  }
  #sbs-2170 .cs-stat {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #sbs-2170 .cs-stat-number {
    list-style: none;
    /* 100px - 120px */
    font-size: clamp(6.25rem, 13vw, 7.5rem);
    font-weight: 700;
    line-height: 1.2em;
    color: #fff;
    opacity: 0.2;
  }
  #sbs-2170 .cs-desc {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #sbs-2170 .cs-image-group {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  #sbs-2170 .cs-picture {
    width: 100%;
    height: fit-content;
    border: clamp(4px, 2vw, 9px) solid #fff;
    border-radius: 1rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-2170 .cs-picture img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  #sbs-2170 .cs-leaf {
    width: clamp(6.25rem, 25vw, 22.75rem);
    height: auto;
    position: absolute;
    bottom: calc(clamp(3.125rem, 19vw, 10.25rem) * -1);
    left: calc(clamp(3.125rem, 12vw, 8.25rem) * -1);
    z-index: -1;
  }
  #sbs-2170 .cs-floater {
    width: 17%;
    max-width: 20rem;
    height: auto;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2170 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 0;
    position: relative;
    z-index: 1;
  }
  #sbs-2170 .cs-content {
    width: 45vw;
    height: auto;
  }
  #sbs-2170 .cs-wrapper {
    width: 60%;
    max-width: 34.125rem;
    height: auto;
    position: relative;
    z-index: 10;
  }
  #sbs-2170 .cs-flex {
    /* 48px - 70px */
    padding-left: clamp(3rem, 6vw, 4.375rem);
  }
  #sbs-2170 .cs-image-group {
    height: 100%;
    margin-bottom: 5rem;
  }
  #sbs-2170 .cs-stats-group {
    max-width: 32.625rem;
    padding-left: 0;
    justify-content: flex-start;
  }
  #sbs-2170 .cs-stats-group:before {
    /* extended box */
    content: "";
    width: clamp(5rem, 12vw, 6.875rem);
    height: 100%;
    background: var(--secondary);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    right: 99.5%;
  }
  #sbs-2170 .cs-picture {
    height: fit-content;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2170 .cs-wrapper {
    /* 168px - 240px */
    padding-top: clamp(10.5rem, 18vw, 14rem);
  }
  #sbs-2170 .cs-content {
    width: 48vw;
  }
  #sbs-2170 .cs-floater {
    display: block;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-2170 .cs-leaf {
    z-index: 10;
    left: -12.875rem;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-2170 {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #sbs-2170 .cs-picture {
    border-color: var(--accent);
  }
  body.dark-mode #sbs-2170 .cs-text,
  body.dark-mode #sbs-2170 .cs-li-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-2170 .cs-number {
    color: var(--primary);
  }
  body.dark-mode #sbs-2170 .cs-li-text,
  body.dark-mode #sbs-2170 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbs-2170 .cs-li {
    border-color: rgba(255, 255, 255, 0.1);
  }
  body.dark-mode #sbs-2170 .cs-stats-group {
    background-color: var(--dark);
  }
  body.dark-mode #sbs-2170 .cs-stats-group:before {
    background-color: var(--dark);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1014 .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs-1014 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs-1014 .cs-content {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs-1014 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #sbs-1014 .cs-image-group:before, body.dark-mode #sbs-1014 .cs-image-group:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-1014 .cs-picture2 {
    background-color: var(--dark);
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
  }
  body.dark-mode #sbs-1014 .cs-title,
  body.dark-mode #sbs-1014 .cs-text,
  body.dark-mode #sbs-1014 .cs-h3,
  body.dark-mode #sbs-1014 .cs-quote-text,
  body.dark-mode #sbs-1014 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs-1014 .cs-quote {
    background-color: rgba(0, 0, 0, 0.6);
  }
  body.dark-mode #sbs-1014 .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #sbs-1014 .cs-quote-icon {
    opacity: 0.2;
  }
}
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1973 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
  }
  #services-1973::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-1973 .cs-container {
    width: 100%;
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1973 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-1973 .cs-card-group {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
  }
  #services-1973 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0 auto;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 24px - 32px */
    padding: clamp(1.5rem, 4vw, 2rem) clamp(1.5rem, 4vw, 2rem) 3.75rem clamp(1.5rem, 4vw, 2rem);
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 12;
    grid-row: span 1;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, border-color 0.3s;
  }
  #services-1973 .cs-picture {
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  #services-1973 .cs-icon {
    width: 11.3125rem;
    height: auto;
  }
  #services-1973 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: bold;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    transition: color 0.3s;
  }
  #services-1973 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 40.625rem;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
    color: var(--bodyTextColor);
  }
  #services-1973 .cs-link {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    text-decoration: none;
    margin-top: auto;
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1973 .cs-container {
    max-width: 80rem;
  }
  #services-1973 .cs-content {
    width: 60%;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1973 .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services-1973 .cs-item {
    background-color: var(--medium);
  }
  body.dark-mode #services-1973 .cs-title,
  body.dark-mode #services-1973 .cs-text,
  body.dark-mode #services-1973 .cs-h3,
  body.dark-mode #services-1973 .cs-item-text,
  body.dark-mode #services-1973 .cs-link {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-1973 .cs-text,
  body.dark-mode #services-1973 .cs-item-text {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1704 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #meet-team-1704 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1704 .cs-content {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-1704 .cs-card-group {
    width: 100%;
    max-width: 56.9375rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.5rem);
    row-gap: clamp(1.5rem, 3vw, 2.5rem);
  }
  #meet-team-1704 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: flex-start;
  }
  #meet-team-1704 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-1704 .cs-item:hover .cs-name {
    color: var(--primary);
  }
  #meet-team-1704 .cs-job {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.6vw, 1rem);
    line-height: 1.5em;
    margin: 0 0 0.5rem 0;
    color: var(--bodyTextColor);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
  }
  #meet-team-1704 .cs-job:before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background: var(--primary);
    position: relative;
    display: block;
  }
  #meet-team-1704 .cs-picture {
    width: 100%;
    /* 300px - 380px */
    height: clamp(18.75rem, 70vw, 23.75rem);
    margin: 0;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #meet-team-1704 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
  }
  #meet-team-1704 .cs-info {
    width: 100%;
    padding: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #meet-team-1704 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 1rem 0 0 0;
    color: var(--headerColor);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1704 .cs-social {
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #meet-team-1704 .cs-link-icon {
    width: 1rem;
    height: auto;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1704 .cs-container {
    max-width: 80rem;
  }
  #meet-team-1704 .cs-item {
    grid-column: span 4;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-1704 .cs-container {
    flex-direction: row;
    align-items: flex-start;
  }
  #meet-team-1704 .cs-card-group {
    width: 65vw;
    flex: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #meet-team-1704 .cs-title,
  body.dark-mode #meet-team-1704 .cs-text,
  body.dark-mode #meet-team-1704 .cs-name,
  body.dark-mode #meet-team-1704 .cs-job {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #meet-team-1704 .cs-job {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=critical.css.map */
