/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2042 {
    /* Centers button */
    text-align: center;
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16 / 16 * 1rem);
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      z-index: 999;
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      /* turned off pointer events on the container so the video stops when you click on the background as well */
      pointer-events: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* 120px - 465px */
      gap: clamp(7.5rem, 24vw, 29.0625rem);
    }

    .cs-content {
      text-align: center;
      width: 100%;
      /* changes to 564px on tablet */
      max-width: calc(328 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      color: var(--bodyTextColorWhite);
    }

    .cs-text {
      margin-bottom: calc(32 / 16 * 1rem);
      color: var(--bodyTextColorWhite);
    }

    .cs-button-group {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-play {
      /* 80px - 120px */
      width: clamp(5rem, 14vw, 7.5rem);
      height: clamp(5rem, 14vw, 7.5rem);
      background-color: var(--backgroundColor);
      cursor: pointer;
      border: none;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;
      z-index: 111;
      transition: opacity 0.3s, transform 0.3s;
      backdrop-filter: blur(8px);

      &.cs-hide {
        opacity: 0;
        transform: scale(0);
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 calc(32 / 16 * 1rem);
      background-color: var(--primary);
      color: var(--bodyTextColorWhite);
      border-radius: calc(8 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 10;
      pointer-events: auto;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        border-radius: calc(4 / 16 * 1rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-video-wrapper {
      width: 100%;
      /* changes to 90% at tablet, then back to 100% at desktop */
      height: 100%;
      display: block;
      position: absolute;
      top: 0%;
      left: 0;
      z-index: -1;

      &:hover {
        cursor: pointer;
      }

      video,
      .cs-picture {
        width: 100%;
        height: 100%;
        /* makes image act as a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -10;

        img {
          width: 100%;
          height: 100%;
          /* makes image act as a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &:before {
        /* Overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0) 16.54%,
            rgba(0, 0, 0, 0.64) 59.41%
          ),
          linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        /* prevents the cursor from interacting with it */
        pointer-events: none;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2042 {
    .cs-container {
      flex-direction: row;
      justify-content: flex-start;
      padding-right: calc(100 / 16 * 1rem);
    }

    .cs-content {
      text-align: left;
      max-width: calc(564 / 16 * 1rem);
      align-items: flex-start;
    }

    .cs-video-wrapper {
      &::before {
        background: linear-gradient(
            270deg,
            rgba(0, 0, 0, 0) 51.02%,
            rgba(0, 0, 0, 0.64) 75.13%
          ),
          linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
      }
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #hero-2042 {
      .cs-play {
        background-color: var(--primaryDark);
      }
    }
  }
}

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2170 {
    padding: var(--sectionPadding);
    background-color: #fbf5f1;
    overflow: hidden;
    position: relative;
    z-index: 1;
    position: relative;
    background-image: url("../svgs/team-svg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(584 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      max-width: calc(738 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
      position: relative;
      z-index: 10;
    }

    .cs-flex {
      padding-left: calc(48 / 16 * 1rem);
    }

    .cs-title {
      margin: 0 0 calc(40 / 16 * 1rem) 0;
    }

    .cs-text {
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      line-height: calc(56 / 16 * 1rem);
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      margin: 0;
      color: #fff;
      padding: 0 calc(48 / 16 * 1rem);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
      transition: color 0.3s;

      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #1a1a1a;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        color: var(--primary);
        &:before {
          width: 100%;
        }
      }
    }

    .cs-ul {
      width: 100%;
      /* 32px - 64px */
      margin: 0 0 calc(32 / 16 * 1rem);
      padding: 0;
      display: flex;
      flex-direction: column;
    }

    .cs-li {
      list-style: none;
      padding: calc(16 / 16 * 1rem) 0;
      border-bottom: 1px solid #e8e8e8;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: calc(24 / 16 * 1rem);
      position: relative;
      z-index: 1;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        border: none;
        padding-bottom: 0;
      }
    }

    .cs-number {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      color: var(--headerColor);
    }

    .cs-li-text {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      color: var(--bodyTextColor);
    }

    .cs-stats-group {
      width: 100%;
      /* 32px - 64px */
      margin: clamp(2rem, 6vw, 4rem) 0 0;
      /* 24px - 100px */
      padding: calc(8 / 16 * 1rem) clamp(1.5rem, 7vw, 7.52rem);
      background-color: var(--secondary);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: clamp(4rem, 14vw, 9.25rem);
      position: relative;
      z-index: 1;
    }

    .cs-stat {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
    }

    .cs-stat-number {
      list-style: none;
      /* 100px - 120px */
      font-size: clamp(6.25rem, 13vw, 7.5rem);
      font-weight: 700;
      line-height: 1.2em;
      color: #fff;
      opacity: 0.2;
    }

    .cs-desc {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      font-weight: 700;
      color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .cs-image-group {
      width: 100%;
      position: relative;
      z-index: 1;
    }

    .cs-picture {
      width: 100%;
      height: fit;
      border: clamp(4px, 2vw, 9px) solid #fff;
      border-radius: 1rem;
      display: block;
      position: relative;
      z-index: 1;

      img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .cs-leaf {
      width: clamp(6.25rem, 25vw, 22.75rem);
      height: auto;
      position: absolute;
      bottom: calc(clamp(3.125rem, 19vw, 10.25rem) * -1);
      left: calc(clamp(3.125rem, 12vw, 8.25rem) * -1);
      z-index: -1;
    }

    .cs-floater {
      width: 17%;
      max-width: calc(320 / 16 * 1rem);
      height: auto;
      display: none;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2170 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;
      gap: 0;
      position: relative;
      z-index: 1;
    }

    .cs-content {
      width: 45vw;
      height: auto;
    }

    .cs-wrapper {
      width: 60%;
      max-width: calc(546 / 16 * 1rem);
      height: auto;
      position: relative;
      z-index: 10;
    }

    .cs-flex {
      /* 48px - 70px */
      padding-left: clamp(3rem, 6vw, 4.375rem);
    }

    .cs-image-group {
      height: 100%;
      margin-bottom: calc(80 / 16 * 1rem);
    }

    .cs-stats-group {
      max-width: calc(522 / 16 * 1rem);
      padding-left: 0;
      justify-content: flex-start;

      &:before {
        /* extended box */
        content: "";
        width: clamp(5rem, 12vw, 6.875rem);
        height: 100%;
        background: var(--secondary);
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        right: 99.5%;
      }
    }

    .cs-picture {
      height: fit-content;
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-2170 {
    .cs-wrapper {
      /* 168px - 240px */
      padding-top: clamp(10.5rem, 18vw, 14rem);
    }

    .cs-content {
      width: clamp(47vw, 48vw, 55vw);
    }

    .cs-floater {
      display: block;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-2170 {
    .cs-leaf {
      z-index: 10;
      left: calc(-206 / 16 * 1rem);
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-2170 {
      background-image: url("../svgs/team-dark.svg");

      .cs-picture {
        border-color: white;
      }

      .cs-text,
      .cs-li-text {
        color: var(--bodyTextColorWhite);
      }

      .cs-number {
        color: var(--primary);
      }

      .cs-li-text,
      .cs-text {
        opacity: 0.8;
      }

      .cs-li {
        border-color: rgba(255, 255, 255, 0.1);
      }

      .cs-stats-group {
        background-color: var(--dark);
        &:before {
          background-color: var(--dark);
        }
      }
    }
  }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1014 {
    .cs-container {
      flex-flow: row;
      justify-content: space-between;
      gap: calc(52 / 16 * 1rem);
    }

    .cs-image-group {
      font-size: min(1.2vw, 1em);
      flex: none;
    }

    .cs-content {
      margin: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #sbs-1014 {
      background-color: rgba(0, 0, 0, 0.2);
      .cs-image-group {
        &:before,
        &:after {
          background: var(--accent);
        }
      }

      .cs-picture2 {
        background-color: var(--dark);
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
      }

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-quote-text,
      .cs-name {
        color: var(--bodyTextColorWhite);
      }

      .cs-quote {
        background-color: rgba(0, 0, 0, 0.6);
      }

      .cs-job {
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
      }

      .cs-quote-icon {
        opacity: 0.2;
      }
    }
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1689 {
    padding: var(--sectionPadding);
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .cs-picture {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      /* width divided by height */
      aspect-ratio: 109/180;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1689 {
    grid-template-columns: repeat(6, 1fr);

    .cs-picture {
      /* 180px - 420px */
      height: clamp(11.25rem, 30vw, 26.25rem);
      aspect-ratio: initial;
    }
  }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1973 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: var(--primary);
      opacity: 0.05;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .cs-container {
      width: 100%;
      max-width: calc(704 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-card-group {
      width: 100%;
      margin: 0 auto;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
    }

    .cs-item {
      text-align: left;
      list-style: none;
      width: 100%;
      margin: 0 auto;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      /* 24px - 32px */
      padding: clamp(1.5rem, 4vw, 2rem) clamp(1.5rem, 4vw, 2rem)
        calc(60 / 16 * 1rem) clamp(1.5rem, 4vw, 2rem);
      box-sizing: border-box;
      overflow: hidden;
      background-color: #fff;
      border-radius: calc(8 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-column: span 12;
      grid-row: span 1;
      position: relative;
      z-index: 1;
      transition: box-shadow 0.3s, border-color 0.3s;
    }

    .cs-picture {
      margin: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .cs-icon {
      width: calc(181 / 16 * 1rem);
      height: auto;
    }

    .cs-h3 {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
      font-weight: bold;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 calc(16 / 16 * 1rem) 0;
      color: var(--headerColor);
      transition: color 0.3s;
    }

    .cs-item-text {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      max-width: calc(650 / 16 * 1rem);
      margin: 0;
      margin-bottom: calc(32 / 16 * 1rem);
      padding: 0;
      color: var(--bodyTextColor);
    }

    .cs-link {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      text-decoration: none;
      margin-top: auto;
      color: var(--primary);
      border-bottom: 1px solid var(--primary);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: color 0.3s;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1973 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-content {
      width: 60%;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1973 {
    .cs-item {
      grid-column: span 4;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #services-1973 {
      .cs-item {
        background-color: var(--medium);
      }

      .cs-title,
      .cs-text,
      .cs-h3,
      .cs-item-text,
      .cs-link {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-item-text {
        opacity: 0.8;
      }
    }
  }
}

/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1766 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6.5vw, 4rem);
    }

    .cs-content {
      /* set text align to center if content needs to be center aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .cs-flex-wrapper {
      max-width: calc(600 / 16 * 1rem);
      /* lets the div's contents act as though it doesn't exist and can be children of the next surrounding parent div, in this case the cs-content. That way we can place the button under the cs-wrapper on mobile, but bring it back under the header on tablet */
      display: contents;
    }

    .cs-title {
      margin: 0;
      /* 16px - 32px */
      margin-bottom: clamp(1rem, 3vw, 2rem);
    }

    .cs-wrapper {
      max-width: calc(632 / 16 * 1rem);
    }

    .cs-text {
      margin: 0 0 calc(32 / 16 * 1rem) 0;
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-align: center;
      text-decoration: none;
      min-width: calc(150 / 16 * 1rem);
      margin: 0;
      margin-top: calc(32 / 16 * 1rem);
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 calc(24 / 16 * 1rem);
      color: #fff;
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        background: #000;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-button-solid {
      margin: 0;
      display: inline-block;
      order: 2;
    }

    .cs-text {
      max-width: calc(640 / 16 * 1rem);
      margin-bottom: calc(24 / 16 * 1rem);
      position: relative;
      z-index: 1;
    }

    .cs-ul {
      max-width: calc(630 / 16 * 1rem);
      margin: 0 0 calc(32 / 16 * 1rem) 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: calc(12 / 16 * 1rem);
    }

    .cs-li {
      font-size: var(--bodyFontSize);
      list-style: none;
      line-height: 1.5em;
      width: 100%;
      color: var(--bodyTextColor);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
    }

    .cs-check-icon {
      width: calc(24 / 16 * 1rem);
      height: auto;
      /* adds extra space between the icon and top of parent so it's more centered */
      margin-top: 1px;
      display: block;
    }

    .cs-card-group {
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      flex-direction: column;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: calc(24 / 16 * 1rem);
      position: relative;
    }

    .cs-item {
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      grid-column: span 12;
      /* 16px - 20px */
      gap: clamp(1rem, 2vw, 1.25rem);
      position: relative;

      &:hover {
        .cs-picture {
          img {
            opacity: 0.4;
            transform: scale(1.2);
          }
        }

        .cs-link {
          opacity: 1;
          transform: translateY(0);

          &:hover {
            /* we need to add the hover styles for the cs-link inside the cs-item hover for specifcity. There's a transform none on the cs-link when we hover over the cs-item, so for the transform to work when we hover over the cs-link, we add it while the hover is active on the cs-item. This allows it to be more specific and override the transform 0 it adds to the cs-link */
            transform: scale(1.15);
            transition: transform 0.3s;
            transition-delay: 0;
          }
        }

        .cs-job {
          color: var(--primary);
        }
      }
    }

    .cs-image-group {
      width: 100%;
      height: auto;
      margin: 0;
      position: relative;
      z-index: 1;
      aspect-ratio: 0.91691395;
      flex: 1 0 0;
    }

    .cs-picture {
      width: 100%;
      height: 100%;
      /* removed at tablet */
      aspect-ratio: 328/260;
      background-color: #000;
      /* clips the img corners */
      /* clips img tag from overflowing it on hover */
      display: block;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
        object-position: top;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.7s, opacity 0.3s;
      }
    }

    .cs-social {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: calc(8 / 16 * 1rem);
      position: absolute;
      top: calc(16 / 16 * 1rem);
      right: calc(16 / 16 * 1rem);
      z-index: 1;
    }

    .cs-link {
      width: calc(40 / 16 * 1rem);
      height: calc(40 / 16 * 1rem);
      padding: calc(8 / 16 * 1rem);
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transform: translateY(-1rem);
      transition: transform 0.6s, opacity 0.6s;

      &:nth-of-type(2) {
        transition-delay: 0.08s;
      }

      &:nth-of-type(3) {
        transition-delay: 0.16s;
      }
    }

    .cs-icon {
      width: calc(20 / 16 * 1rem);
      height: auto;
      display: block;
    }

    .cs-info {
      width: 100%;
      /* prevents padding and border from affecting height and width */
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(8 / 16 * 1rem);
      transition: background-color 0.3s;
    }

    .cs-name {
      font-size: calc(20 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-transform: uppercase;
      margin: 0;
      color: var(--headerColor);
      display: block;
      transition: color 0.3s;
    }

    .cs-job {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0;
      color: var(--bodyTextColor);
      display: block;
      transition: color 0.3s;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1766 {
    .cs-container {
      max-width: calc(1720 / 16 * 1rem);
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-content {
      text-align: left;
      max-width: calc(1280 / 16 * 1rem);
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: calc(48 / 16 * 1rem);
      columns: 2;
    }

    .cs-flex-wrapper {
      width: 40vw;
      display: block;
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-ul {
      margin: 0;
    }

    .cs-card-group {
      /* 16px - 20px */
      column-gap: clamp(1rem, 2vw, 1.25rem);
      row-gap: calc(40 / 16 * 1rem);
    }

    .cs-item {
      grid-column: span 4;
    }

    .cs-picture {
      /* 260px - 440px */
      height: clamp(16.25rem, 33.2vw, 27.5rem);
      aspect-ratio: initial;
    }
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-1766 {
    .cs-ul {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .cs-li {
      width: 48%;
    }

    .cs-card-group {
      grid-template-columns: repeat(10, 1fr);
    }

    .cs-item {
      grid-column: span 2;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #meet-team-1766 {
      .cs-title,
      .cs-text,
      .cs-li,
      .cs-name,
      .cs-job {
        color: var(--bodyTextColorWhite);
      }
      .cs-text,
      .cs-li,
      .cs-job {
        opacity: 0.8;
      }
    }
  }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-262 {
    padding: var(--sectionPadding);

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      /* 32px - 88px top & bottom */
      /* 24px - 88px left & right */
      padding: clamp(2em, 6.3vw, 5.5em) clamp(1.5em, 5.7vw, 5.5em);
      border-radius: calc(16 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: calc(32 / 16 * 1rem);
      position: relative;
      /* clips the corners for the border radius to show */
      overflow: hidden;
      z-index: 1;
      /* prevents padding from adding to height and width */
      box-sizing: border-box;
    }

    .cs-background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;

      &:before {
        /* black overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.7;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
      }

      &:after {
        /* brown overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primaryLight);
        opacity: 0.2;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 2;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .cs-left-section {
      max-width: calc(434 / 16 * 1rem);
    }

    .cs-title {
      color: var(--bodyTextColorWhite);
      margin-bottom: clamp(1.25rem, 4.2vw, 3rem);
    }

    .cs-button-solid {
      font-size: calc(16 / 16 * 1rem);
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: calc(150 / 16 * 1rem);
      padding: 0 calc(24 / 16 * 1rem);
      background-color: var(--primary);
      border-radius: calc(4 / 16 * 1rem);
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;

      &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: calc(4 / 16 * 1rem);
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    .cs-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      /* 12px - 20px */
      gap: clamp(0.75rem, 1.6vw, 1.25rem);
    }

    .cs-header {
      /* 20px - 25px */
      font-size: clamp(1.25rem, 2.4vw, 1.5625rem);
      font-weight: bold;
      color: var(--primaryLight);
      display: block;
    }

    .cs-p {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColorWhite);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-262 {
    .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      align-items: flex-end;
      text-align: right;
      /* prevents flexbox from squishing it */
      flex: none;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #cta-262 {
      .cs-background {
        &:before {
          opacity: 0.9;
        }
        &:after {
          opacity: 0.1;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---         Reviews            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1539 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    .cs-container {
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6.3vw, 4rem);
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: calc(630 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-review {
      width: 100%;
      box-sizing: border-box;
      /* 32px - 80px top & bottom, 24px to 70px sides*/
      padding: clamp(2rem, 7vw, 5rem) clamp(1.5rem, 7vw, 4.375rem);
      box-sizing: border-box;
      border: 1px solid var(--secondary);
      /* 32px - 100px */
      border-radius: clamp(2rem, 5vw, 6.25rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 24px - 64px */
      gap: clamp(1.5rem, 6vw, 4rem);
      position: relative;
      z-index: 1;

      &:before {
        /* background-color */
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--secondary);
        /* 32px - 100px */
        border-radius: clamp(2rem, 5vw, 6.25rem);
        opacity: 0.1;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    .cs-image-group {
      width: 100%;
      height: auto;
      margin: 0;
      position: relative;
      z-index: 1;
      aspect-ratio: 276/238;
    }

    .cs-picture {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }

    .cs-flex {
      max-width: calc(736 / 16 * 1rem);
    }

    .cs-quote {
      /* 14px - 20px */
      font-size: clamp(0.875rem, 2vw, 1.25rem);
      line-height: 1.5em;
      font-weight: 400;
      margin: 0 0 calc(24 / 16 * 1rem);
      color: #4e4b66;
    }

    .cs-name {
      font-size: calc(20 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      margin-bottom: calc(4 / 16 * 1rem);
      color: #1a1a1a;
      display: block;
    }

    .cs-job {
      font-size: calc(16 / 16 * 1rem);
      font-weight: 700;
      line-height: 1.2em;
      color: #ff6d41;
      display: block;
    }

    .cs-mask {
      /* SVG Colors */
      --maskBorder: #ffffff;
      --maskBG: #fff0ec;
      width: 101%;
      height: 101%;

      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;

      path {
        transition: stroke 0.3s;
      }
    }

    .cs-blob-wrapper {
      width: 100%;
      height: 100%;
      /* 32px - 100px */
      border-radius: clamp(2rem, 5vw, 6.25rem);
      overflow: hidden;
      /* prevents the mouse from interacting with it */
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .cs-blob {
      --blobColor: var(--secondary);
    }

    .cs-blob1 {
      width: calc(100 / 16 * 1rem);
      height: auto;

      opacity: 0.25;
      position: absolute;
      top: calc(-5 / 16 * 1rem);
      left: calc(-30 / 16 * 1rem);
    }

    .cs-blob2 {
      /* 239px - 461px */
      width: clamp(14.9375rem, 40vw, 28.8125rem);
      height: auto;

      opacity: 0.25;
      position: absolute;
      right: calc(-50 / 16 * 1rem);
      bottom: calc(-15 / 16 * 1rem);
    }

    .cs-graphic {
      position: absolute;
      z-index: 1;
    }

    .cs-graphic-one {
      /* 48px - 138px */
      width: clamp(3rem, 10vw, 8.625rem);
      height: auto;
      top: calc(-20 / 16 * 1rem);
      right: calc(-20 / 16 * 1rem);
      transform: rotate(104deg);
    }

    .cs-graphic-two {
      /* 88px - 197px */
      width: clamp(5.5rem, 15vw, 12.3125rem);
      height: auto;
      bottom: calc(-20 / 16 * 1rem);
      left: calc(-32 / 16 * 1rem);
    }
  }
}

/* Tablet - 500px */
@media only screen and (min-width: 31.25rem) {
  #reviews-1539 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-review {
      max-width: none;
      flex-direction: row;
    }

    .cs-image-group,
    .cs-flex {
      flex: 1 0 0;
    }

    .cs-image-group {
      max-width: calc(260 / 16 * 1rem);
    }
  }
}

/* Larger Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #reviews-1539 {
    .cs-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-content {
      text-align: left;
      width: calc(364 / 16 * 1rem);
      align-items: flex-start;
      /* prevents flexbox from squishing it */
      flex: none;
      /* sends it to the right ni the 2nd position */
      order: 2;
    }

    .cs-picture {
      font-size: inherit;
    }

    .cs-blob1 {
      width: calc(160 / 16 * 1rem);
      left: calc(-20 / 16 * 1rem);
      top: 0;
    }
  }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode {
    #reviews-1539 {
      .cs-review {
        &:before {
          opacity: 1;
          background-color: #061a28;
        }
      }

      .cs-mask {
        --maskBorder: var(--accent);
        --maskBG: #061a28;
      }

      .cs-title,
      .cs-text,
      .cs-name,
      .cs-quote {
        color: var(--bodyTextColorWhite);
      }

      .cs-text,
      .cs-quote {
        opacity: 0.8;
      }
    }
  }
}
