/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
  // Dark Mode Color Scheme
  :root {
    --dark: #082032;
    --medium: #2c394b;
    --accent: #334756;
    --transition-timing: 1s ease-in-out;
  }

  // Global transition styles
  body,
  body *,
  body *:before,
  body *:after {
    transition: background-color var(--transition-timing),
      color var(--transition-timing), border-color var(--transition-timing),
      opacity var(--transition-timing);
  }

  // Spezielle Transition nur für Hintergründe
  .cs-background,
  [class*="cs-background"] {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--dark);
      opacity: 0;
      transition: opacity var(--transition-timing);
      z-index: 1;
    }
  }

  body.dark-mode {
    background-color: var(--dark);

    .cs-background,
    [class*="cs-background"] {
      &::before {
        opacity: 0.7;
      }
    }

    // Neue Ausnahme für About-Seite hinzufügen
    &.about-page .cs-background::before {
      opacity: 0 !important;
    }

    p,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff;
    }

    // hide all light classes
    .light {
      display: none;
    }

    // show all dark classes
    .dark {
      display: block !important;
    }
  }

  .dark {
    display: none;
  }

  // Dark Mode Toggle Styles
  .dark-mode-toggle {
    position: relative;
    width: 52px; // Feste Breite für mobile Geräte
    height: 26px;
    margin: 0 10px;
    display: flex;
    align-items: center;

    // Toggle Input
    .dark-mode-toggle-input {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;

      &:checked + .dark-mode-toggle-label {
        background: #6b21a8;

        &:before {
          transform: translateX(26px);
          background: #f9d71c;
        }
      }
    }

    // Toggle Label
    .dark-mode-toggle-label {
      position: absolute;
      cursor: pointer;
      width: 52px; // Feste Breite
      height: 26px;
      background: #6b21a8;
      border-radius: 100px;
      transition: background-color 0.2s;

      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 22px; // Feste Breite für den Kreis
        height: 22px; // Feste Höhe für den Kreis
        border-radius: 50%;
        transition: transform 0.2s, background-color 0.2s;
        background: #f9d71c;
      }
    }
  }

  // Spezifische Styles für mobile Geräte
  @media only screen and (max-width: 768px) {
    .dark-mode-toggle {
      transform: scale(0.9); // Leicht verkleinern auf mobilen Geräten
      margin: 0 5px; // Weniger Margin auf mobilen Geräten
    }
  }
}
